@page
@using Tul.WebApplications.SemesterProject.Web.Enums
@using Tul.WebApplications.SemesterProject.Web.Models
@model Tul.WebApplications.SemesterProject.Web.Pages.User.Management.IndexModel
@{
}
<div>
    <div>
        <h2>Registered users</h2>
        <table>
            <thead>
                <tr>
                    <th class="pt-5 pb-2 px-2 py-1">
                        Id
                    </th>
                    <th class="pt-4 pb-2 px-2 py-1">
                        UserName
                    </th>
                    <th class="pt-4 pb-2 px-2 py-1">
                        E-Mail
                    </th>
                    <th class="pt-5 pb-2 px-2 py-1">
                        Role
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GeneratedItems)
                {
                    <tr>
                        <td class="px-2 py-1">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="px-2 py-1 font-bold">
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td class="px-2 py-1">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="px-2 py-1">
                            @Enum.GetName(typeof(Role), item.Role)
                        </td>
                        <td class="px-2 py-1">
                            <a asp-page="./edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>