@page
@using Tul.WebApplications.SemesterProject.Web
@using Tul.WebApplications.SemesterProject.Web.Enums
@using Tul.WebApplications.SemesterProject.Web.Models
@model Tul.WebApplications.SemesterProject.Web.Pages.Collections.ListModel
@{
}
<div class="flex flex-col items-center justify-center p-10 space-y-10 border border-gray-200 bg-gray-900 rounded-lg shadow-sm text-gray-200">
    <div>
        <h2 class="text-2x1 font-bold mb-4">Your collection</h2>
        <table class="border border-separate p-5 table-auto">
            <thead>
                <tr>
                    <th class="pt-4 pb-2 px-2 py-1">
                        Title
                    </th>
                    <th class="pt-4 pb-2 px-2 py-1">
                        Created
                    </th>
                    @if (Role.Admin == await UserModel.GetRoleById((Guid)await UserModel.GetIdByTokenAsync(HttpContext.Session.GetString("token")!)))
                    {
                        <th class="pt-5 pb-2 px-2 py-1">
                            Id
                        </th>
                        <th class="pt-5 pb-2 px-2 py-1">
                            Created
                        </th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MyCollectionItems)
                {
                    <tr>
                        <td class="px-2 py-1 font-semibold text-green-500">
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td class="px-2 py-1">
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        @if (Role.Admin == await UserModel.GetRoleById((Guid)await UserModel.GetIdByTokenAsync(HttpContext.Session.GetString("token")!)))
                        {
                            <td class="px-2 py-1">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td class="px-2 py-1">
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                        }
                        <td class="px-2 py-1">
                            <a asp-page="./edit" asp-route-id="@item.Id" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">Edit</a> |
                            <a asp-page="./detail" asp-route-id="@item.Id" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-4 rounded">Details</a> |
                            <a asp-page="./delete" asp-route-id="@item.Id" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 rounded">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Role.Admin == await UserModel.GetRoleById((Guid)await UserModel.GetIdByTokenAsync(HttpContext.Session.GetString("token")!)))
    {
        <div>
            <h2 class="text-2xl font-bold mb-4">Other user's collections</h2>
            <table class="border border-separate p-5 table-auto">
                <thead>
                    <tr>
                        <th class="pt-4 pb-2 px-2 py-1">
                            Title
                        </th>
                        <th class="pt-4 pb-2 px-2 py-1">
                            User
                        </th>
                        <th class="pt-5 pb-2 px-2 py-1">
                            Id
                        </th>
                        <th class="pt-4 pb-2 px-2 py-1">
                            Created
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserCollectionItems)
                    {
                        <tr>
                            <td class="px-2 py-1 font-semibold text-green-500">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="px-2 py-1">
                                @(await UserModel.GetById(item.UserId)).Username
                            </td>
                            <td class="px-2 py-1">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td class="px-2 py-1">
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td class="px-2 py-1">
                                <a asp-page="./edit" asp-route-id="@item.Id" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">Edit</a> |
                                <a asp-page="./detail" asp-route-id="@item.Id" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-4 rounded">Details</a> |
                                <a asp-page="./delete" asp-route-id="@item.Id" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 rounded">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

@* @section Scripts {
    <script>
        // Optional: Add JavaScript for any dynamic behavior
        console.log("List page loaded.");
    </script>
} *@